<h2>Add New Flight</h2>
<form method="POST">
    Flight Number: <input name="flightNumber" required><br>
    Airline: <input name="airline" required><br>
    Origin: <input name="origin" required><br>
    Destination: <input name="destination" required><br>
    Day of Week: <input name="dayOfWeek" required><br>
    Scheduled Departure Time: <input type="datetime-local" name="scheduledDepartureTime" required><br>
    Scheduled Arrival Time: <input type="datetime-local" name="scheduledArrivalTime" required><br>
    Valid From: <input type="date" name="validFrom" required><br>
    Valid To: <input type="date" name="validTo" required><br>
    Price: <input type="number" name="price" min =0 required><br>
    <input type="submit" value="Add Flight">
</form>
