<!DOCTYPE html>
<html>
<head>
    <title>Search Flights</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="navbar">
        <img src="{{ url_for('static', filename='logo.jpg') }}" alt="Logo" class="logo">
        <p>Welcome to <strong>NovaWings</strong> - an innovative and futuristic airline reservation platform!</p>
        <div class="login-buttons">
            <a href="/user/login">
            <button type="button">View/Cancel Tickets</button>
            </a>
            <a href="/admin/login">
                <button type="button">Admin Login</button>
            </a>
        </div>
    </div>
    <div class="hero-banner">
        <div class="overlay">
            <h2>Fly Smarter. Travel Better.</h2>
            <p>Compare fares, manage bookings, and explore destinations—all in one place.</p>
        </div>
    </div>

    
    <div class="container">
        <h1>Search Flights</h1>
        <form id="searchForm">
            <label for="source">From:</label>
            <select id="source" name="source">
                {% for src in sources %}
                    <option value="{{ src }}">{{ src }}</option>
                {% endfor %}
            </select>

            <label for="destination">To:</label>
            <select id="destination" name="destination">
                {% for dest in destinations %}
                    <option value="{{ dest }}">{{ dest }}</option>
                {% endfor %}
            </select>

            <label for="date">Date:</label>
            <input type="date" id="date" name="date" min="{{ min_date }}" max="{{ max_date }}" required>

            <button type="submit">Search</button>
        </form>

        <div id="results"></div>
    </div>

    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>
