<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
<h2>User Login</h2>
<form action="/user/login" method="POST">
    <label>Email:</label>
    <input type="email" name="email" required><br>

    <label>Phone:</label>
    <input type="tel" name="phone" pattern="[0-9]{10}" required><br>

    <label>Password:</label>
    <input type="password" name="password" required><br>

    <button type="submit">Login</button>
</form>

</body>
</html>